# Ignore data files (prevent uploading large CSVs)
data/
*.csv
*.zip
*.pkl

# Ignore Mac system files
.DS_Store

# Ignore Python cache files
__pycache__/
*.pyc
.ipynb_checkpoints/
*.ipynb_checkpoints

# Ignore virtual environments
venv/
env/
.env